.venv
.pytest_cache/
htmlcov/
.coverage
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
uv.lock

schedule_visualization/

config/even_weeks.toml
config/odd_weeks.toml
config/settings.toml
config/tasks.json